.navbar {
  background-color:  #672280;
  height: 10vh;
  display: flex;

}
.text {
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
  font-family: sans-serif;
}

.meme-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 4rem;
}

.meme-button {
  background: #672280;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: 6vh;
  border: none;
  border-radius: 0.5rem;
  font-family: sans-serif;
  margin-top: 2rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
 align-self: center;
  
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}